/* PC */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    width: 95vw;
    padding: auto 10px;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .footer {
    display: none;
  }

  section {
    display: none;
  }
  html {
    font-size: 1.2vh;
  }
  #main {
    justify-content: flex-start;
  }

  .start-game {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  body {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .container {
    width: 95vw;
    height: 100%;
    display: block;
    padding: 10px;
    border-radius: 0;
  }

  .wrapper {
    width: 100%;
    height: 50vh;
    justify-content: center;
  }

  .drowned-man__box {
    justify-content: center;
    margin-right: 0;
    height: 80%;
    width: 94%;
  }

  .game__box {
    height: 50%;
    width: 100%;
    display: block;
  }

  .game__box h4 {
    margin: 0;
  }

  .box__pipe {
    bottom: 82%;
  }

  .word-display {
    margin-bottom: 0;
    margin-top: 0;
  }

  .keyboard {
    margin-top: 10px !important;
  }

  .keyboard button {
    padding: 1vh 1.2vh;
  }
}
